{{ form_start(form) }}
{{ form_row(form.name) }}
{{ form_row(form.code) }}
{{ form_row(form.mapColor) }}
<button type="submit" class="btn btn-primary" formnovalidate>Save</button>
{{ form_end(form) }}