<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{% block title %}{{ app_name }}{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('vendor/jquery-ui-1.12.1/jquery-ui.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/jquery-ui-theme.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/leaflet/leaflet.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/fontawesome/css/font-awesome.min.css') }}">

        <style>
            body{
                background:#FFFFFF;
            }
        </style>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    <style>
        body,
        html
        {
            height:100%;
            border: none;
        }
        body{
            padding:0;
            margin:0;
            background:#EEE;
        }

        span.bolder{
            font-weight: bolder;
        }
        h2.table-header{
            margin-bottom:5px;
            color:#406f17;
        }
        div.card{
            background:#FFF;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            border-radius: 6px 6px 6px 6px;

        }
        div.section-outer{
            width:98%;
            margin:auto;
        }
        div.date-container{
            float: left;
            width:72px;
            padding:15px 0;
        }
        div.data-container{
            float:left;
            padding-top:30px;
            font-size:0.9em;
            width:260px;
        }

        img.max-100{
            width:100%;
            border-radius: 6px 6px 0 0;
        }



        div.info-card{
            margin-bottom: 10px;
        }

        ol li{
            margin-bottom: 10px;
        }
        div.align-justify{
            text-align: justify;
        }
        img.responsive{
            border-radius: 6px 6px 0 0;
        }
        div.location-name{
            position: relative;
            top: -68px;
            color: #fff;
            background: #000000bf;
            height: auto;
            padding: 10px 0;
        }
        .location-name h1{
            font-size:2em;
        }
        .location-name h2{
            font-size:1.2em;
        }
        div.section-inner{
            width:96%;
        }
        .location-name .icon-spacer-right{
            display: inline-block;
            float:left;
        }
        .location-name .fa{
            font-size: 3em;
            padding-top: 3px;
        }
        .location-name .details{
            float:left;
        }
        div.additional-details{
            position: relative;
            top:-60px;
        }
        .additional-details table{
            width:100%;
            border-collapse: collapse;
        }
        .additional-details table td.name{
            font-weight:bolder;
            width:130px;
        }
        .additional-details table td{
            padding:12px 10px;
            font-size:1.3em;
            text-align: justify;
            border-bottom: 1px solid #E7ECF1;
        }
        table.data tr th{
            text-align: left;
            background:#ba7d60;
            color:#FFF;
            text-transform: uppercase;
        }
        table.data td, table.data th{
            padding:12px 10px;
        }

        table.data td{
            border-bottom: 1px solid #E7ECF1;;
        }
        h2.styled-header{
            font-size:1.0em;
            margin:10px 0 5px 0;
            font-weight:bolder;
            color:#9e6b52;
        }

        p.date-added{
            font-weight: bolder;
            color:#408a2d;
            text-transform: uppercase;
            font-style: italic;
            font-size:0.75em;
            padding:0;
            margin:0 0 5px 0;
        }

        p.details{
            margin:0;
            padding-bottom:10px;
            font-style: italic;
            font-size:0.8em;
            color:#555;
        }
        @media all and (max-width: 768px) {
            .col6 {
                width: 49.2%;
            }

            .col6 {
                float: left;
                margin: 0 1.6% 0 0;
            }

            .col1.last, .col2.last, .col3.last, .col4.last, .col5.last, .col6.last, .col7.last, .col8.last, .col9.last, .col10.last, .col11.last, .col12 {
                margin: 0;
            }

        }


    </style>


</head>

<body>

<div class="section-outer">
    <div class="space-10"></div>
    {% for record in records %}
    <a href="{{ path('mobile_info_view',{'latitude':record.latitude,'longitude':record.longitude}) }}"
       data-latitude="{{ record.latitude }}"
       data-longitude="{{ record.longitude }}">
        <div class="card info-card col6 {% if (loop.index is even) %}last{% endif %}">
            <div class="col12">
                {% if record.region_image==null %}
                    {% set image = 'file_uploads/region_images_upload/default.jpg' %}
                {% else %}
                    {% set image = 'file_uploads/region_images_upload/'~record.region_image %}
                {% endif %}
                <img src="{{ asset(image) }}" class="responsive" alt="{{ record.region_name }}"/>
            </div>

            <div class="section-inner">
                <div class="col12">
                    <h2 class="styled-header">{{ record.region_name }}</h2>
                    <p class="date-added">Added on 21/02/3030</p>
                    <p class="details">Soil Type: {{ record.soil_type }}, District: {{ record.district_name }}, Ward: {{ record.ward_name }}</p>
                </div>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
<div class="space co12 clear"></div>

</body>


{% block javascripts %}

    <script src="{{ asset('vendor/jquery/jquery-1.9.1.min.js') }}"></script>
    <script src="{{ asset('vendor/jquery-ui-1.12.1/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("a").click(function() {
                let longitude = $(this).data("longitude")
                let latitude = $(this).data("latitude")
                AndroidFunction.launchInfoFragment();
            });
        });


    </script>
{% endblock %}
