{{ form_start(form) }}
{{ form_row(form.caseNumber) }}
{{ form_row(form.region) }}
{{ form_row(form.district) }}
{{ form_row(form.ward) }}
{{ form_row(form.status) }}
{{ form_row(form.country) }}
{{ form_row(form.nationality) }}
{{ form_row(form.sex) }}
{{ form_row(form.age) }}
{{ form_row(form.isLocal) }}
<button type="submit" class="btn btn-primary" formnovalidate>Save</button>
{{ form_end(form) }}