{{ form_start(form) }}
{{ form_row(form.folderOpenDate) }}
{{ form_row(form.folderLetterFile) }}
{{ form_row(form.folderVideoURL) }}
<button type="submit" class="btn btn-primary" formnovalidate>Save</button>
{{ form_end(form) }}