{{ form_start(form) }}
{{ form_row(form.cropName) }}
{{ form_row(form.cropCode) }}
{{ form_row(form.cropCategory) }}
{{ form_row(form.harvestedArea) }}
{{ form_row(form.productionValue) }}
{{ form_row(form.recordYear) }}
<button type="submit" class="btn btn-primary" formnovalidate>Save</button>
{{ form_end(form) }}