<td>{{ counter }}</td>
<td>{{ record.crop_name }}</td>
<td>{{ record.crop_category }}</td>
<td>{{ record.harvested_area }}</td>
<td>{{ record.production_value }}</td>
<td>{{ record.record_year }}</td>