{{ include("main/app.flash.message.html.twig") }}
{{ form_start(form) }}
{{ form_row(form.plainPassword) }}
{{ form_row(form.plainPasswordConfirm) }}
<button type="submit" class="btn btn-primary fade" formnovalidate>Reset Password <span class="fa fa-refresh"></span></button>
{{ form_end(form) }}